# Framework
# ---------
YII_DEBUG   = true
YII_ENV     = dev

# Application
# -----------
LINK_ASSETS = false

# Databases
# ---------
DB_DSN           = mysql:host=localhost;port=3306;dbname=yii2-starter-kit
DB_USERNAME      = root
DB_PASSWORD      =
DB_TABLE_PREFIX  =

TEST_DB_DSN           = mysql:host=localhost;port=3306;dbname=yii2-starter-kit-test
TEST_DB_USERNAME      = root
TEST_DB_PASSWORD      =

# Urls
# ----
FRONTEND_URL    = /
BACKEND_URL     = /admin
STORAGE_URL     = /storage
FRONTEND_HOST =
BACKEND_HOST =
STORAGE_HOST =

# Other
# -----
SMTP_HOST = mailcatcher
SMTP_PORT = 1025

FRONTEND_COOKIE_VALIDATION_KEY = <generated_key>
BACKEND_COOKIE_VALIDATION_KEY = <generated_key>

ADMIN_EMAIL    = admin@yii2-starter-kit.dev
ROBOT_EMAIL    = robot@yii2-starter-kit.dev

GITHUB_CLIENT_ID = your-client-id
GITHUB_CLIENT_SECRET = your-client-secret

GLIDE_SIGN_KEY = <generated_key>
GLIDE_MAX_IMAGE_SIZE = 4000000

RECAPCHA_KEY =
RECAPCHA_SECRET =