# Env
/.env

# composer
/vendor
composer.phar
## remove in production!
composer.lock

# IDE
.idea
nbproject
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit
phpunit.phar
/phpunit.xml

# Vagrant
/.vagrant
/vagrant.yaml
/frontend/web/admin
/frontend/web/storage
/backend/web/bundle
/tests/codeception/backend/_support/_generated
/tests/codeception/common/_support/_generated
/tests/codeception/console/_support/_generated
/tests/codeception/frontend/_support/_generated

# Tests
tests/codeception/*/_support/_generated/*

node_modules