.editor-panel {
    margin: .8em 0;
    text-align: right;
    color: pink;
    font-size: 90%;
}

.editor-panel a {
    color: pink;
}

.inline_content:after {
    content: "";
    display: block;
    clear: both;
}