.form {
    input {
        box-sizing: border-box;
    }

    input:focus {
        outline: none;
    }

    input[type=text],
    input[type=password],
    input[type=tel],
    input[type=email] {
        width: 100%;
        line-height: 2.3em;
        height: 2.3em;
        border: 1px solid #BFBFBF;
        padding: 0 .6em;
    }

    textarea {
        border: 1px solid #BFBFBF;
        overflow: auto;
        box-sizing: border-box;
        padding: .6em;
        width: 100%;
        min-height: 100px;
    }

    select {
        border: 1px solid #BFBFBF;
        height: 2em;
    }

    label {
        display: block;
        margin-bottom: .3em;
    }

    .error label,
    label.error,
    span.error {
        color: #C00;
    }

    .error input,
    .error textarea,
    .error select,
    input.error,
    textarea.error,
    select.error {
        background: #FEE;
        border-color: #C00;
    }

    .error_summary {
        border: 2px solid #C00;
        padding: .4em .4em .8em .4em;
        margin: 0 0 1.3em 0;
        background: #FEE;
    }
}