div.table {
    display: table;
    width: 100%;
}

div.table > div {
    display: table-cell;
    box-sizing: border-box;
    vertical-align: top;
}

.table.center {
    display: flex;
    justify-content: center;
}

.table.wide {
    display: flex;
    justify-content: space-between;
}

.table.left {
    display: flex;
    justify-content: flex-start;
}