@mixin table() {
    display: table;
    width: 100%;

    & > div {
        display: table-cell;
        box-sizing: border-box;
        vertical-align: top;
    }
}

@mixin table-center() {
    display: flex;
    justify-content: center;

    & > * {
        flex-shrink: 1;
    }
}

@mixin table-wide() {
    display: flex;
    justify-content: space-between;

    & > * {
        flex-shrink: 1;
    }
}

@mixin table-left() {
    display: flex;
    justify-content: flex-start;

    & > * {
        flex-shrink: 1;
    }
}

@mixin table-right() {
    display: flex;
    justify-content: flex-end;

    & > * {
        flex-shrink: 1;
    }
}